/* Typo Raleway + Raleway bold*/

@font-face {
  font-family: "raleway";
  src: url("typo/reg.ttf") format("truetype");
}
@font-face {
  font-family: "bld";
  src: url("typo/bold.ttf") format("truetype");
}

/*Html + Body + Main*/

html {
  font-size: 100%;
  overflow-x: hidden;
}
body {
  font-family: "raleway";
  font-size: 1em;
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow-x: hidden;
}
main {
  max-width: 1440px;
  margin: auto;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  font-size: 1.3em;
  font-family: "bld";
  margin: 0;
}
h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

/*Header*/

header {
  width: 100%;
  margin-bottom: 40px;
}

/*Logo*/

h1 {
  position: relative;
  margin: 45px 0 0 55px;
}
.logo img {
  width: 95px;
  height: auto;
}

/*Ancres de navigation 'Hébergement + Activités' */

nav {
  position: relative;
  bottom: 60px;
  padding-right: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.ancres {
  display: flex;
  flex-direction: row;
}
.ancres a {
  padding: 0 35px;
}
.ancres a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding-top: 50px;
}
.inscription {
  font-family: "bld";
  color: #0065fc;
  margin-left: 45px;
}

/*Titre*/

header h2 {
  margin: 0 0 15px 55px;
}
#sous-titre {
  margin-left: 55px;
}

/*Barre de recherche*/

#map {
  width: 13px;
  height: auto;
  background-color: #f2f2f2;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.barre-recherche {
  display: flex;
  align-items: center;
  margin: 20px 0 0 55px;
}
input {
  font-size: 1.2em;
  border: solid 1px #f2f2f2;
  color: black;
  padding: 16px 0 16px 18px;
  background-color: unset;
}
input::placeholder {
  color: black;
  font-family: "bld";
}
.boutton-bleu-recherche {
  font-size: 1.2em;
  background-color: #0065fc;
  border-style: none;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  padding: 16px 18px 16px 18px;
}
#loupe {
  display: none;
}

/*Filtres*/

.barre-filtre {
  padding-right: 25px;
  margin: 30px 0 0px 65px;
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  font-family: "bld";
  font-size: 1.2em;
}
#filtres {
  display: flex;
  flex-flow: row wrap;
}
#filtres a {
  margin: 0 25px 15px 0;
}
#texte {
  margin: 0 33px 15px 0;
}
.bouton {
  height: 44px;
  font-family: "bld";
  font-size: 0.9em;
  border-radius: 30px;
  padding: 0 20px 0 10px;
  display: flex;
  align-items: center;
  border: solid 3px #f0f0f0;
  background-color: unset;
  transition: all 0s ease-in-out;
}
.bouton p {
  margin: 0;
}
.rond {
  position: relative;
  right: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #deebff;
}
.rond img {
  width: 20px;
  height: 20px;
  filter: invert(28%) sepia(41%) saturate(5597%) hue-rotate(208deg)
    brightness(96%) contrast(108%);
}
.bouton:hover {
  color: #0065fc;
  background-color: #fafafa;
}

/*Rond information*/

.info {
  margin: 15px 0 0 60px;
}
.rondinfo {
  float: left;
  width: 25px;
  height: 25px;
  border: solid #f2f2f2 2px;
  border-radius: 14px;
  margin-right: 12px;
}
#info {
  margin: 6px 5px 0 6px;
  width: 14px;
  height: 14px;
  filter: invert(28%) sepia(41%) saturate(5597%) hue-rotate(208deg)
    brightness(96%) contrast(108%);
}
.info p {
  margin: 0;
}
.info span {
  position: relative;
  top: 5px;
}
